{% from 'layout/pagination.html' import render_pagination with context %}
    <table class="table table-bordered table-hover no-more-tables">
        <thead>
        <tr>
            <th style="width:1%">
               <!-- <div class="checkbox check-default">
                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                    <label for="checkbox10"></label>
                </div>-->
            </th>
            <th>名称</th>
            <th>任务状态</th>
            <th>状态</th>
            <th>文件大小（G）</th>
            <th>系统盘大小（G）</th>
            <th>操作系统</th>
            <th>镜像格式</th>
            <th>描述</th>
             {% if user.is_super -%}
            <th>所属者</th>
             {% endif %}
            <th>创建于</th>
        </tr>
        </thead>
        <tbody>
        {%- for image in pagination.items %}
        <tr class="show-others">
            <td class="v-align-middle">
                <div class="checkbox check-default">
                    <input id="checkbox{{ loop.index }}" type="checkbox" value="{{ image.id }}" data-resource-uuid="{{ image.image_uuid | default('', True) }}">
                    <label for="checkbox{{ loop.index }}"></label>
                </div>
            </td>
            <td class="text-info"><label class="text-info  fa fa-{{ image.architecture |lower }}" ></label>&nbsp;{{image.name}}</td>
            <td name="task_status" class="{{ image.job.state | job_state_class }}">
                    {{ image.job.state | job_state_humanize }}
            </td>
            <td class="text-success">{{image.status}}</td>
            <td>{{image.size |bt_to_g|round(2)}}</td>
            <td>{{image.min_disk}}</td>
            <td>{{image.os_distro}}</td>
            <td>{{image.disk_format}}</td>
            <td>{{image.description}}</td>
            {% if user.is_super -%}
            <td class="text-info">{{image.owner.username}}</td>
            {%- endif %}
            <td>{{image.created_at | timesince}}</td>
        </tr>
        {%- endfor %}
        </tbody>
    </table>
    <!--分页-->
    {% if pagination.items %}
    {{ render_pagination(pagination, 'portal.user_image_list', '点击每行显示相关操作日志') }}
    {% else %}
    <p class=""><em>该列表中暂时没有数据。</em></p>
    {% endif %}
    <!--分页-->

<script>

$(function(){
    var $dropdown_lis = $(".dropdown-menu li");

    function disableAll(){
    	$dropdown_lis.addClass("disabled"); 
    }

    function activeAll(){
     	$dropdown_lis.removeClass("disabled");
    }

    // 先屏蔽所有按钮
    disableAll();
    
	$("input[type=checkbox]").unbind("click").click(function(){
		$('.dropdown-toggle').unbind("click");
        var $checked_image = $("input[type=checkbox]:checked");
        var len=$checked_image.length;
        var iamge_uuid = $checked_image.attr("data-resource-uuid");

        // dropdown-menu
        var $delete_btn = $(".dropdown-menu li:contains(删除)");
        var $modify_btn = $(".dropdown-menu li:contains(修改)");

        //  选中单个虚拟机时, 进行判断
        if(len==1){
            // 先屏蔽所有按钮
            disableAll();
            
            var status=	$("input[type=checkbox]:checked").parents("tr").find("td:eq(3)").text().trim();
            
            if(status.toLowerCase().indexOf("active") == -1){ // 非ACTIVE状态下不可以做任何操作
                if(status.indexOf('queued')>-1){
                	 $delete_btn.removeClass("disabled");
                }
                return ;
            }

            //处理task status
            $tr = $("input[type=checkbox]:checked").closest("tr") ;
            var task_status = $tr.find("td[name=task_status]").hasClass("text-success");
            // 任务中或等待中的虚拟机不能进行任何操作.
            if ( task_status ) {
                return ;
            }
           	activeAll();
            if(!iamge_uuid || iamge_uuid==""){ // 如果虚机备份的uuid为空, 则只能删除
                $delete_btn.removeClass("disabled");
                return;
            }
            

        }
        else
        {
          disableAll();
        }
    });

});
</script>