.idea
.project
.pydevproject
.ropeproject
.settings
.vagrant
.venv

*.DS_Store

*.egg*
*.log
*.mo
*.py[cod]
*.swo
*.swp
*.sqlite
*.db
*.tar.gz
*.orig
*.bak
*.pid
*.out
code/etc/nebula/*
etc/nebula/*
*.config
*~

*.iml

build/*
doc/build/*
dist/*
etc/data/_img_upload_tmp/*
!etc/data/_img_upload_tmp/.gitkeep


nebula/portal/static/upload/logo/*
!nebula/portal/static/upload/logo/.gitkeep

code/build/*
code/doc/build/*
code/dist/*
code/etc/data/_img_upload_tmp/*
!code/etc/data/_img_upload_tmp/.gitkeep

var/
reports/
__pycache__/
wheelhouse/
node_modules/
httpie/
python2.7.8/

MANIFEST
AUTHORS
ChangeLog
