<div class="grid-title no-border">
    <h4>操作日志</h4>
    <div class="tools"> <a href="javascript:;" class="reload"></a> </div>
</div>
<!--资源操作日志内容 begin-->
<div class="grid-body no-border">
   <ul class="log">
          <li>
            <div class="text-success"> <i class="fa fa-check m-r-10"></i> 创建虚拟机成功 <span class="pull-right text-info"><i class="fa fa-user m-l-20"></i>&nbsp;&nbsp;管理员</span></div>
              <div class="text-muted text-left detail-time inline" data-toggle="tooltip" data-placement="right" title="2014-05-30 12:12:12"><i class="fa fa-clock-o m-r-10"></i><em class=" small-text">1分钟前</em></div>
          </li>
   </ul>
   {% include 'layout/sublist_pagination.html' %}
</div>
<!--资源操作日志内容 end-->