<div class="newMenu">
  <div class="col-xs-2 col-sm-2 col-md-2"> <a href="#" class="shortcut-tiles tiles-midnightblue" data-toggle="modal" data-target="#myModal-new">
    <div class="tiles-body">
      <div class="pull-left"><i class="fa fa-desktop"></i></div>
    </div>
    <div class="tiles-footer">创建虚拟机 </div>
    </a> </div>
  <div class="col-xs-2 col-sm-2 col-md-2"> <a href="#" class="shortcut-tiles tiles-green" data-toggle="modal" data-target="#myModal-new">
    <div class="tiles-body">
      <div class="pull-left"><i class="fa fa-hdd-o"></i></div>
    </div>
    <div class="tiles-footer">创建存储 </div>
    </a> </div>
  <div class="col-xs-2 col-sm-2 col-md-2"> <a href="#" class="shortcut-tiles tiles-purple" data-toggle="modal" data-target="#myModal-new">
    <div class="tiles-body">
      <div class="pull-left"><i class="fa fa-sitemap "></i></div>
    </div>
    <div class="tiles-footer">创建网络 </div>
    </a> </div>
  <div class="col-xs-2 col-sm-2 col-md-2"> <a href="#" class="shortcut-tiles tiles-brown" data-toggle="modal" data-target="#myModal-new">
    <div class="tiles-body">
      <div class="pull-left"><i class="fa fa-sliders"></i></div>
    </div>
    <div class="tiles-footer">创建路由器 </div>
    </a> </div>
  <div class="col-xs-2 col-sm-2 col-md-2"> <a href="#" class="shortcut-tiles tiles-orange" data-toggle="modal" data-target="#myModal-new">
    <div class="tiles-body">
      <div class="pull-left"><i class="fa fa-th"></i></div>
    </div>
    <div class="tiles-footer">创建虚拟防火墙 </div>
    </a> </div>
  <div class="col-xs-2 col-sm-2 col-md-2"> <a href="#" class="shortcut-tiles tiles-sky" data-toggle="modal" data-target="#myModal-new">
    <div class="tiles-body">
      <div class="pull-left"><i class="fa fa-cubes"></i></div>
    </div>
    <div class="tiles-footer">创建集群 </div>
    </a>
  </div>
</div>
