<div class="page-sidebar" id="main-menu">
  <!-- BEGIN SIDEBAR MENU -->
  <p class="menu-title">主菜单栏</p>
    <ul class="folders">
      <li class="divider"></li>
      <li id="menu-li-datamanagement" data-toggle="tooltip" data-placement="right"><i class="menu-title">数据管理</i></li>
        {% for item in datamng_menus %}
          <li id="menu-li-{{ item.en_name }}" class="{% if loop.first %}start{% endif %} {% if item.active == True %}active open{% endif %}" data-toggle="tooltip" data-placement="right" title="{{item.local_name}}">
              <a href="{{ url_for(item.endpoint) }}"> <i class="{{ item.icon }}"></i>
              <span class="menu-item">{{item.local_name }}</span> </a>
          </li>
        {% endfor %}
      </li>
      <li class="divider"></li>
      <li id="menu-li-system-admin" data-toggle="tooltip" data-placement="right" title="系统管理">
        <i class="menu-title">数据计算</i>
      </li>
        {% for item in datacal_menus %}
          <li id="menu-li-{{ item.en_name }}" class="{% if loop.first %}start{% endif %} {% if item.active == True %}active open{% endif %}" data-toggle="tooltip" data-placement="right" title="{{item.local_name}}">
              <a href="{{ url_for(item.endpoint) }}"> <i class="{{ item.icon }}"></i>
              <span class="menu-item">{{item.local_name }}</span> </a>
          </li>
        {% endfor %}
      <li class="divider"></li>
      <li id="menu-li-system-admin" data-toggle="tooltip" data-placement="right" title="系统管理">
        <i class="menu-title">数据分析、挖掘</i>
      </li>
        {% for item in dataana_menus %}
          <li id="menu-li-{{ item.en_name }}" class="{% if loop.first %}start{% endif %} {% if item.active == True %}active open{% endif %}" data-toggle="tooltip" data-placement="right" title="{{item.local_name}}">
              <a href="{{ url_for(item.endpoint) }}"> <i class="{{ item.icon }}"></i>
              <span class="menu-item">{{item.local_name }}</span> </a>
          </li>
        {% endfor %}
    </ul>
    <ul class="folders">
      <li class="divider"></li>
      <li id="menu-li-system-admin" data-toggle="tooltip" data-placement="right" title="公共服务">
        <i class="menu-title">公共服务</i>
      </li>
        {% for item in services_menus %}
          <li id="menu-li-{{ item.en_name }}" class="{% if loop.first %}start{% endif %} {% if item.active == True %}active open{% endif %}" data-toggle="tooltip" data-placement="right" title="{{item.local_name}}">
              <a href="{{ url_for(item.endpoint) }}"> <i class="{{ item.icon }}"></i>
              <span class="menu-item">{{item.local_name }}</span> </a>
          </li>
        {% endfor %}
    </ul>
  <!-- END SIDEBAR MENU -->
<!--page-sidebar-wrapper-->
<!--footer-widget-->
<div class="footer-widget" style="text-align: center;">
  <p>&copy; 云麒麟大数据分析平台 {{ version() }}</p>
</div>
<!--footer-widget-->
<!-- END SIDEBAR MENU -->
</div>
