{% extends 'layout/base.html' %}
{% block title %}监控告警-{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
  <div class="page-content"> 
    <!-- 页面内容从此处开始-->
    <div class="content">
      <div class="page-title">
        <h3>监控告警 <span class="title-question"><i class="fa fa-question-circle text-info"></i></span></h3>
        <p class="title-content">
        通过创建监控告警规则，并应用到主机，虚拟机等资源上，可以实现对该资源特定项目的状态监控。您可在 系统管理->告警日志 中查看历史告警信息。
        </p>
      </div>
      <!--列表-->
      <div class="row">
        <div class="col-md-12">
          <div class="grid simple ">
            <div class="grid-title no-border">
              <button type="button" class="btn btn-white btn-cons reload" data-url="/alarms/list/?segment=true"><i class="fa fa-refresh"></i></button>
              <button type="button" class="btn btn-white btn-cons"  data-url="/forms/alarms/create"  data-rule="createAlarmRule"
              	 data-toggle="modal" data-target="#newCluster">
              <i class="fa fa-plus"></i>&nbsp;&nbsp;新建</button>
              <div class="btn-group"> <a class="btn btn-white dropdown-toggle btn-demo-space" data-toggle="dropdown" href="#"> 更多操作 <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                  <li><a href="#" data-toggle="modal" data-url="/forms/alarms/modify/{id}" data-rule="noRule" name="update"><i class="fa fa-pencil"></i>&nbsp;修改</a></li>
                  <li><a href="#" data-toggle="modal" data-url="/alarms/list/{id}/"  data-rule="noRule" >
                  	<i class="fa fa-trash-o"></i>&nbsp;删除</a>
                  </li>
                </ul>
              </div>
              <div class=" input-prepend inside search-form no-boarder">
              	<form action="{{ url_for('portal.alarms_list') }}" method="get" class="">
             		<span class="add-on" > <span class="iconset top-search"></span></span>
                	<input name="search" type="text" class="no-boarder " placeholder="搜索" value="{{search}}" style="width:200px;" />
               	</form>
              </div>
            </div>
            <div class="grid-body no-border" name="listtable">
            
               {% include 'alarms/segment/_alarms_list.html' %}
              
            </div>
          </div>
        </div>
      </div>
      <!--列表--> 
      <!--others-info-->
            <div class="row  others-info dispaly-none">
                <div class="col-md-4  listleft" data-url="/sub/jobs/?resource_type=Alarm&resource_id="></div>
                <div class="col-md-8  listright-del" data-url="{{ url_for('portal.alarm_bind_statis') }}?resource_id="></div>
            </div>
      <!--others-info-->
    </div>
    <!--content--> 
    <!-- 页面内容到此结束--> 
  </div>
{% endblock %}

{% block modal %}

<!-- Modal -->
<div class="modal fade" id="deleteAlarm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <!--提示-->
      <form action="{{ url_for('portal.alarms_list') }}" method="DELETE">
      <div class="alert alert-block alert-info fade in">
      <h4 class="alert-heading">提示！</h4>
        <p>确定删除告警规则“<i class="resource-name" ></i> ”&nbsp;?</p>
        <div class="button-set text-right">
          <input type="hidden" name="id">
          <button class="btn btn-white btn-cons" type="button" data-dismiss="modal">取消</button>
          <button class="btn btn-success btn-cons" type=submit >确定</button>
        </div>
      </div>
      </form>
      <!--提示-->
    </div>
  </div>
</div>
</div>
<!--modal-->

{% endblock %}


{% block extend_js %}
<script src="/static/js/list.js" type="text/javascript"></script>

<script>
    $(function () {
       
    });
</script>
{% endblock %}
