{% from 'layout/pagination.html' import render_pagination with context %}
              <table class="table table-bordered m-t-10">
                <thead>
                  <tr>
                    <th>资源名称</th>
                    <th>操作</th>
                    <th>状态</th>
                    <th>操作者</th>
                    <th>操作时长</th>
                    <th>操作时间</th>
                  </tr>
                </thead>
                <tbody>

                {% for log in pagination.items %}
                  <tr>
                    {% if log.resource_type  == 'Nat' %}
                    <td><i class="fa fa-sitemap m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'SecurityGroupRule' %}
                    <td><i class="fa fa-th m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'SecurityGroup' %}
                    <td><i class="fa fa-th m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'Instance' %}
                    <td><i class="fa fa-cube m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'Network' %}
                    <td><i class="fa fa-sitemap m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'Virtualrouter' %}
                    <td><i class="fa fa-sitemap m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'VirtualrouterNetwork' %}
                    <td><i class="fa fa-sitemap m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'Image' %}
                    <td><i class="fa fa-file-code-o m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'Volume' %}
                    <td><i class="fa fa-database m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'VolumeBackup' %}
                    <td><i class="fa fa-copy m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'InstanceBackup' %}
                    <td><i class="ffa fa-copym-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'Subnet' %}
                    <td><i class="fa fa-sitemap m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'ComputeNode' %}
                    <td><i class="fa fa-desktop m-r-10"></i>{{log.resource_name}}</td>
                    {% elif log.resource_type  == 'Port' %}
                    <td><i class="fa fa-sitemap m-r-10"></i>{{log.resource_name}}</td>
                    {% else %}
                    <td>{{log.resource_name}}</td>
                    {%endif%}

                    {% if not log.state_desc %}
                    <td class="text-info">等待中</td>
                    {%else%}
                    <td class="text-info">{{log.state_desc}}</td>
                    {%endif%}

                    {% if log.state == 'SUCCESS' %}
                    <td class="text-success"><i class="fa fa-check m-r-10"></i>成功</td>
                    {% elif log.state == 'FAILURE' %}
                    <td class="text-success"><i class="fa fa-times m-r-10"></i>失败</td>
                    {% elif log.state == 'REVERTED' %}
                    <td class="text-success"><i class="fa fa-check m-r-10"></i>回滚</td>
                    {% elif log.state == 'PENDING' %}
                    <td class="text-success">
                    <div class="typing_loader"></div>
                    <span class="p-l-10">正在运行中</span>
                    </td>
                    {% else %}
                    <td class="text-success"><i class="fa fa-check m-r-10"></i>{{log.state}}</td>
                    {% endif %}

                    <td>{{ log.creator.username }}</td>

                    <script language="JavaScript">
                    function DiffLong(datestr1, datestr2) {
                      var date1 = new Date(Date.parse(datestr1.replace(/-/g, "/")));
                      var date2 = new Date(Date.parse(datestr2.replace(/-/g, "/")));
                      var datetimeTemp;
                      var isLater = true;

                      if (date1.getTime() > date2.getTime()) {
                          isLater = false;
                          datetimeTemp = date1;
                          date1 = date2;
                          date2 = datetimeTemp;
                      }

                      difference = date2.getTime() - date1.getTime();
                      thisdays = Math.floor(difference / (1000 * 60 * 60 * 24));

                      difference = difference - thisdays * (1000 * 60 * 60 * 24);
                      thishours = Math.floor(difference / (1000 * 60 * 60));

                      difference = difference - thishours * (1000 * 60 * 60);
                      thismins = Math.floor(difference / (1000 * 60));

                      difference = difference - thismins * (1000 * 60);
                      thissecs = Math.floor(difference / (1000));

                      var strRet = '';
                      if (thisdays) {strRet = thisdays + '天'};
                      if (thishours) {strRet = strRet + thishours + '小时'};
                      if (thismins) {strRet = strRet + thismins + '分'};
                      strRet = strRet  + thissecs + '秒';

                      return strRet;
                    }
                    var datediff = '';
                    if ("{{log.updated_at}}" == 'None') {;} else{datediff = DiffLong("{{log.created_at}}","{{log.updated_at}}");}
                    
                    document.write("<td>" + datediff + "</td>");
                    </script>
                    <td>{{log.created_at}}</td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
              <!--分页 -->
              {% if pagination.items %}
              {{ render_pagination(pagination, 'portal.system_logs_op', '') }}
              {% else %}
              <p class=""><em>该列表中暂时没有数据。</em></p>
              {% endif %}
              <!--分页-->
