<!--告警日志-->
{% extends 'layout/base.html' %}
{% block title %}告警日志{% endblock %}
{% block style %}
{% endblock %}

{% block resource_type %}{% endblock %}

{% block container %}

<!-- BEGIN PAGE -->
  <div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="content">
      <!--title-->
      <div class="page-title">
        <h3>告警日志</h3>
      </div>
      <!--title-->
      <div class="row">
        <div class="col-md-12">
          <!-- Nav tabs -->

           {% from 'layout/pagination.html' import render_pagination with context %}
           {% include 'systems/_partial/sub_log_warning.html' %}
           
            <!--分页-->
              {% if pagination.items %}
              {{ render_pagination(pagination, 'portal.user_alerts', '') }}
              {% else %}
              <p class=""><em>该列表中暂时没有数据。</em></p>
              {% endif %}
              <!--分页-->
          <!--告警日志--> 
        </div>
      </div>
      <!--col-md-12--> 
    </div>
    <!--row--> 
  </div>
  <!--content--> 

{% endblock %}







